.form {
    &__block {
        margin-bottom: 15px;
        &--moreSpace{
            margin-bottom: 25px;
        }
        // Radio Error
        .radio-error, .checkbox-error{
            color: $color-error !important;
            font-size: fz(12);
            display: block;
            padding-top: 10px;
            font-weight: $fw-medium;
        }
    }
    &__row{
        @include resp('md'){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px 30px;
        }
        @include resp('lg'){
            gap: 15px 40px;
        }
    }
    &__label {
        display: block;
        font-size: fz(16);

        &--inline {
            display: inline-block;
            font-size: fz(16);
            margin-right: 16px;
            font-weight: $fw-light;
        }
    }

    &__input {
        width: 100%;
        font-size: fz(16);
        color: $color-black;
        padding: 15px 20px;
        background-color: $color-grey-light;
        border: none;
        outline: none;
        border-radius: 999px;
        -webkit-box-shadow: none;
        -webkit-appearance: none;
        box-shadow: none;
        -moz-appearance: textfield;
        @include resp('md'){
            padding: 18px 24px;
        }
        @include resp('lg'){
            padding: 20px 28px;
        }
    }

    &__required {
        text-align: center;
        font-size: fz(12);
    }

    &__confirm {
        display: none;
        text-align: center;
        font-size: fz(20);
        color: $color-purple;
        font-weight: $fw-sbold;
        padding: 15px;
        @include resp('md'){
            font-size: fz(24);
        }
        @include resp('lg'){
            font-size: fz(28);
        }
        &.visible{
            display: block;
        }
    }


    //////////////////////////////////////////// SUBMIT ////////////////////////////////////////////

    &__submit {
        display: flex;
        justify-content: center;
        padding: 5px 0 10px;
        @include resp('md'){
            padding-top: 15px;
        }
        @include resp('lg'){
            padding-top: 30px;
        }
        &__button {
            @extend %button-regular;
            @extend %button-regular-purple;
            border: 2px solid transparent;
            &:hover{
                @extend %button-regular-white-hover;
                @include resp('lg'){
                    border-color: $color-purple;
                }
            }
        }
    }

    //////////////////////////////////////////// RADIO & CHECKBOX ////////////////////////////////////////////

    input {
        &[type='radio'],
        &[type='checkbox'] {
            &:checked,
            &:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &:checked + label,
            &:not(:checked) + label {
                position: relative;
                padding: 2px 0 0 28px;
                margin: 0 16px 0 0;
                cursor: pointer;
                font-size: fz(16);
                font-weight: $fw-light;
                display: inline-block;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 19px;
                    height: 19px;
                    border-radius: 999px;
                    background-color: $color-grey-light;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    width: 11px;
                    height: 11px;
                    background-color: $color-black;
                    border-radius: 999px;
                    transition: opacity $time-veryfast, transform $time-veryfast;
                }
            }

            &:not(:checked) + label {
                &::after {
                    opacity: 0;
                    transform: scale(0);
                }
            }

            &:checked + label {
                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        &[type='checkbox'] {
            &:checked + label,
            &:not(:checked) + label {
                padding-top: 0;

                &::before {
                    top: 0;
                    border-radius: 0;
                    border: 1px solid $color-purple;
                }

                &::after {
                    top: 4px;
                    border-radius: 0;
                }
            }
        }
    }


    //////////////////////////////////////////// PLACEHOLDER ////////////////////////////////////////////

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: .5;
    }

    ::-moz-placeholder {
        color: inherit;
        opacity: .5;
    }

    :-ms-input-placeholder {
        color: $color-black;
        opacity: .5;
    }


    //////////////////////////////////////////// ERRORS ////////////////////////////////////////////

    label,
    p {
        &[class*='error'] {
            display: inline-block;
            color: $color-error;
            font-size: fz(14);
            margin-top: 2px;
        }
    }

    p {
        &[class*='error'] {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    }

    input {
        &[class*='error'] {
            border: 1px solid $color-error;
            color: $color-error;

            & + label {
                color: $color-error !important;

                &::before {
                    border: 1px solid $color-error !important;
                }
            }
        }
        & + span.error{
            color: $color-error !important;
            font-size: fz(12);
            display: block;
            padding-top: 5px;
            font-weight: $fw-medium;
        }
    }

}