.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background-color: $color-purple;
    padding: 25px 0;
    &__container{
        @extend %container;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__logo{
        position: absolute;
        left: calc(50% - 55px);
        &__img{
            width: 110px;
            height: 110px;
        }
    }
    &__mainBlock{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $color-purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left $time-fast;
        &.visible{
            left: 0;
        }
        &__closeNav{
            position: absolute;
            top: 20px;
            right: 20px;
            svg{
                width: 16px;
                height: 16px;
                fill: $color-white;
            }
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        &__item{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $color-white;
            margin: 0 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-purple;
            text-decoration: none;
            font-size: fz(14);
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        a{
            color: $color-white;
            text-decoration: none;
            padding: 5px 0;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__navLines{
        display: flex;
        flex-direction: column;
        &__line{
            width: 28px;
            height: 3px;
            background-color: $color-white;
            border-radius: 999px;
            &--mid{
                margin: 6px 0;
            }
        }
    }
}

.homeIntro{
    height: 2000px;
}